<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="BUILD.1b054c20-835c-46d3-a544-bfb329908520" Publisher="CN=v-narenp" Version="1.0.0.0" />
  <Properties>
    <DisplayName>wtfapp</DisplayName>
    <PublisherDisplayName>v-narenp</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WhereTheFriend.App">
      <VisualElements DisplayName="WhereTheFriend" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WhereTheFriend" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>