<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Version="1.0.0.0" Publisher="CN=v-narenp" Name="BUILD.1b054c20-835c-46d3-a544-bfb329908520" />
  <Properties>
    <DisplayName>naren29wtf</DisplayName>
    <Description>WhereTheFriend</Description>
    <PublisherDisplayName>v-narenp</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="WhereTheFriend" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="WhereTheFriend" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>